:root {
  --primary-bg: #222222;
  --secondary-bg: #303030;
  --tertiary-bg: #3f3f3f;
  --accent-color: #88ffc3;
  --hover-accent: #56db78;
  --border-color: #ffffff;
  --text-color: #ffffff;
  --button-bg: #ff00003b;
  --button-hover: #ff000086;
}

body {
  margin: 20px;
  height: 100%;
  font-family: "Roboto", sans-serif;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg);
  color: var(--text-color);
}

.container {
  display: flex;
  gap: 20px;
  background-color: var(--primary-bg);
  color: var(--text-color);
  min-height: 100%;
}

/* PROCESS LIST STYLES --------------------------------------------------------------------*/
.process-list-container {
  width: 40%;
  min-height: 90vh;
  background-color: var(--secondary-bg);
  padding: 20px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  margin-left: 20px;
}

.controls-container {
  margin: 0;
  justify-content: end;
}

.btn-reset {
  padding: 10px 20px;
  background-color: var(--button-bg);
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.3s;
}

.btn-reset:hover {
  background-color: var(--button-hover);
  color: var(--text-color);
  transform: scale(1.1);
}

.processes-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.process-card {
  background-color: var(--tertiary-bg);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  transition: all 0.3s;
}

.process-card:hover {
  border-color: var(--accent-color);
  transform: scale(1.05);
}

.process-image {
  width: 50px;
  max-height: 50px;
  min-height: 50px;
  height: auto;
  object-fit: fill;
  border-radius: 5px;
  margin-bottom: 10px;
}

.process-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-id {
  font-size: 15px;
  color: #f0f0f0;
}

.process-memory {
  color: #e0e0e0;
  font-size: 14px;
  margin: 2px 0;
}

/* MEMORY STYLES --------------------------------------------------------------------*/
.memory-container {
  width: 60%;
  min-height: 90vh;
  background-color: var(--secondary-bg);
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.memory-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.memory-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.memory-controls {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.memory-visualization-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  background-color: var(--secondary-bg);
  border-radius: 5px;
}

.blocks-wrapper {
  display: flex;
  margin-left: 20px;
  margin-top: 6.5%;
  width: 17% !important;
  height: 85%;
  flex-direction: column-reverse;
  align-items: space;
  justify-content: space-evenly;
}

.memory-block {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
  width: 100% !important;
  padding: 4px;
  border-radius: 5px;
  color: var(--text-color);
  margin-left: 5px;
  margin-right: 5px;
}

.memory-status {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #88e7ff;
  transition: all 0.3s;
}

.memory-status:hover {
  border-color: #65dcfa;
  background-color: #7070709f;
  transform: scale(1.05);
}

.memory-block-with-process {
  border-color: var(--accent-color);
}

.memory-block-with-process:hover {
  border-color: var(--hover-accent);
}

.memory-status p {
  margin: 5px;
  color: var(--text-color);
}

.chart {
  width: 80% !important;
  height: 100% !important;
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: 0;
  opacity: 1;
  transition: all 0.3s;
}

.chart-legend {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  color: #e0e0e0;
}

.chart canvas {
  image-rendering: auto;
}

/* Media queries para adaptabilidad */
@media (max-width: 768px) {
  .chart {
    width: 90%;
    height: 300px;
  }
}

/* Memory Controls ================================================================== */
.select-memory-type,
.select-algorithm-type {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: var(--primary-bg);
  color: var(--text-color);
}

.remove-btn {
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: red;
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.memory-block:hover .remove-btn {
  display: block;
}

.remove-partition-btn {
  position: absolute;
  top: -20px;
  right: -25px;
  background-color: red;
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.memory-block:hover .remove-partition-btn {
  display: block;
}

.custom-memory {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  gap: 10px;
  transition: all 0.3s;
}

.custom-memory:hover {
  border-color: #ff0000;
  transform: scale(0.95);
}

.custom-partition-creator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.memory-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--primary-bg);
  color: var(--text-color);
  margin-right: 10px;
  width: 90%;
  min-height: 30px;
  outline: none;
}

.memory-input::placeholder {
  color: #888;
}

.memory-input:focus {
  border-color: #007bff;
}

.btn-memory-input {
  padding: 8px;
  min-height: 30px;
  width: 90%;
  height: 90%;
  background-color: var(--primary-bg);
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-memory-input:hover {
  background-color: #ffffff25;
  transform: scale(1.1);
}

.compact-checkbox {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: var(--text-color);
}

.checkbox {
  margin-right: 8px;
  accent-color: #000000;
}

.checkbox:focus {
  outline: none;
  border-color: #707070;
}

/* Modal Styles ================================================================================== */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #2c2c2c;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  width: 300px;
  text-align: center;
}

.process-image-modal {
  border-radius: 5px;
}

.process-memory-details {
  margin-top: 10px;
  background: #1a1a1a;
  padding: 10px;
  border-radius: 5px;
}

.close-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-btn:hover {
  background-color: #cc0000;
}
